.footer {
    padding: 80px 0 40px;
    background: linear-gradient(107.47deg, #4000A1 37.13%, #FF3D72 158.43%);
    &__top {
        display: grid;
        grid-template-columns: auto max-content;
        grid-row-gap: 80px;
    }
    &__middle {
        display: flex;
        margin-top: 80px;
        &-logo {
            width: 135px;
            display: block;
        }
        &-wrap {
            margin-top: 32px;
            display: flex;
            align-items: center;
        }
    }
    &__bottom {
        display: flex;
        margin-top: 95px;
        border-top: 1px solid rgba(255, 255, 255, 0.8);
        padding-top: 40px;
        &-menu {
            display: flex;
            gap: 40px;
            margin-left: auto;
            li a {
			    font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &__logo {
        height: 58px;
        display: flex;
        img {
            width: 54px;
        }
        &-text {
			font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            letter-spacing: 0.02em;
            width: 112px;
            margin-left: 24px;
        }
    }
    &-links-mobile {
        display: none;
    }
    &-links {
        display: flex;
        gap: 95px;
        &__label {
			font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }
        ul {
            margin-top: 32px;
            li {
                margin-bottom: 16px;
            }
            li:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__slogan {
		font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 140%;
        align-items: center;
        letter-spacing: 2.6px;
        text-transform: uppercase;
        max-width: 573px;
        span {
            color: #FFC859;
        }
    }
    &__social {
        &-items {
            display: flex;
            gap: 32px;
            margin-left: 55px;
        }
    }
    &__credits {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }
}

@media screen and (max-width: 1230px) {
	.footer {
		&__top {
            grid-template-columns: repeat(1,1fr);
		}
        &__bottom {
            flex-direction: column;
            gap: 27px;
            align-items: center;
            &-menu {
                margin-left: 0;
                gap: 25px;
            }
        }
	}
}


@media screen and (max-width: 992px) {
    .footer {
        background: linear-gradient(107.47deg, #4000A1 37.13%, #FF3D72 158.43%);
        padding: 37px 0 63px;
        &__middle {
            &-wrap {
                flex-direction: column;
            }
        }
        &__top {
            display: block;
        }
        &__logo {
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
        }
        &__logo-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.02em;
            margin-left: 19px;
        }
        &__slogan {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            align-items: center;
            text-align: center;
            letter-spacing: 2.6px;
            margin-top: 26px;
            max-width: 340px;
            margin-left: auto;
            margin-right: auto;
        }
        &-links {
            display: none;
        }
        &-links-mobile {
            display: block;
        }
        &__middle-logo {
            margin-top: 14px;
            margin-left: auto;
            margin-right: auto;
        }
        &__social {
            margin-top: 28px;
            max-width: 283px;
            margin-left: auto;
            margin-right: auto;
            &-items {
                margin-left: auto;
                margin-right: auto;
                margin-top: 32px;
            }
        }
        &__social-label {
            font-weight: 500;
            font-size: 18px;
            line-height: 33px;
            text-align: center;
        }
        &__bottom {
            margin-top: 43px;
            padding-top: 28px;
        }
        &__credits {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            max-width: 230px;
            text-align: center;
        }
        &__bottom-menu {
            flex-direction: column;
            gap: 10px;
            li {
                text-align: center;
                a {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
		.footer-links-mobile {
			display: flex;
            gap: 67px;
            justify-content: center;
            margin-top: 89px;
            text-align: center;
            .footer-links__wrap {
                ul {
                    margin-top: 20px;
                    li {
                        margin-bottom: 20px;
                    }
                    li:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .footer-links__label:nth-child(2) {
                margin-top: 13px;
            }
		}
    }
}
