.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	padding: 17px 0;
	background: linear-gradient(124deg, #3C00A1 -3.42%, #A17FE0 122.44%);
	&.header-top {
		background: none;
	}
	&__logo-wrap {
		cursor: pointer;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__content.black-header {
		color: black;
	}
	&-links {
		display: flex;
		align-items: center;
		gap: 40px;
		li {
			position: relative;
		}
		li a {
			font-family: 'Poppins';
			font-weight: 400;
			font-size: 16px;
			display: flex;
			gap: 4px;
		}
		&__item {
			.header-links__dropdown {
				display: block;
				transition: transform 0.35s ease, opacity 0.15s ease;
				height: auto;
				transform: scaleY(0);
				transform-origin: top;
				opacity: 0;
			}
			.header-links__connect {
				display: none;
			}
		}
		&__item:hover {
			.header-links__dropdown {
				transition: transform 0.35s ease, opacity 0.15s ease;
				transform: scaleY(1);
				opacity: 1;
			}
			.header-links__connect {
				display: block;
			}
		}
		&__dropdown {
			display: none;
			position: absolute;
			top: 40px;
			left: 15px;
			background: linear-gradient(124deg, #3C00A1 -3.42%, #A17FE0 122.44%);
			border-radius: 15px;
			padding: 23px 27px 15px 19px;
			min-width: 155px;
			width: max-content;
			a {
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				color: #FFFFFF;
				margin-bottom: 7px;
				padding-bottom: 10px;
				border-bottom: 0.2px solid rgba(250, 250, 255, 0.8);
				width: 100%;
				white-space: nowrap;
				display: flex;
				img {
					margin-right: 10px;
				}
			}
			a:last-child {
				margin-bottom: 0;
			}
		}
		&__dropdown:before {
			content: '';
			width: 21px;
			height: 13px;
			background: image('dropdown-corner.svg');
			background-size: 100% 100%;
			display: block;
			position: absolute;
			left: 18px;
			top: -10px;
		}
		&__connect {
			position: absolute;
			top: 14px;
			left: 15px;
			width: 80px;
			height: 42px;
			background: none;
		}
	}
	&__button {
		background: #3B45FF;
		border-radius: 15px;
		padding: 16px 32px;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		transition: color 0.25s ease;
	}
	&__button:hover {
		color: #8DF6F1;
		transition: color 0.25s ease;
	}
	&__burger {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.header {
		padding-top: 17px;
		&__logo-wrap {
			width: 57px;
		}
		&-links {
			display: none;
		}
		&__button-wrap {
			display: none;
		}
		&__burger {
			display: block;
			cursor: pointer;
		}
		.modal-menu {
			background: linear-gradient(124deg, #4000A1 -3.42%, #3B45FF -3.41%, #A17FE0 84.42%);
			border-radius: 15px;
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
			padding-top: 17px;
			padding-left: 34px;
			padding-right: 27px;
			&__top {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			&__cross {
				cursor: pointer;
				height: max-content;
			}
			&__logo-wrap {
				width: 57px;
				display: block;
			}
			&__content {
				margin-top: 65px;
				li {
					a {
						font-family: 'Poppins';
						font-style: normal;
						font-weight: 500;
						font-size: 28px;
						line-height: 24px;
						color: #FFFFFF;
						display: flex;
						cursor: pointer;
						img {
							margin-left: 4px;
						}
					}
					margin-bottom: 42px;
					ul {
						display: none;
					}
				}
				li:last-child {
					margin-bottom: 0;
				}
				li.submenu-opened {
					a {
						img {
							transform: rotate(180deg);
						}
					}
					ul {
						display: block;
					}
				}
			}
			&__children {
				margin-top: 16px;
				li {
					margin-bottom: 16px;
					a {
						font-size: 20px;
					}
				}
			}
		}
	}
}
