.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	padding: 17px 0;
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&-links {
		display: flex;
		align-items: center;
		gap: 40px;
		li {
			position: relative;
		}
		li a {
			font-family: 'Poppins';
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			display: flex;
			gap: 4px;
		}
		&__item:hover {
			.header-links__dropdown {
				display: block;
			}
		}
		&__dropdown {
			display: none;
			position: absolute;
			top: 40px;
			left: 15px;
			background: #FAFAFF;
			border-radius: 15px;
			padding: 25px;
			min-width: 155px;
			a {
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				color: #4000A1;
				margin-bottom: 20px;
				width: max-content;
			}
			a:last-child {
				margin-bottom: 0;
			}
		}
		&__dropdown:before {
			content: '';
			width: 21px;
			height: 13px;
			background: image('dropdown-corner.svg');
			background-size: 100% 100%;
			display: block;
			position: absolute;
			left: 18px;
			top: -10px;
		}
		&__connect {
			position: absolute;
			top: 24px;
			left: 15px;
			width: 80px;
			height: 32px;
			background: none;
		}
	}
	&__button {
		background: #3B45FF;
		border-radius: 15px;
		padding: 16px 32px;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
	}
}

@media screen and (max-width: 1320px) {
	.header {
	}
}
