// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Roboto', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$dark-bg: #202128;
$dark-600: #26272e;
$gray-400: #e4e4e4;
$red: #fb5b4d;

$black: #000;
$black-bg: #020f1e;
