.home {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	&-intro {
		position: relative;
		padding: 150px 0 69px;
		width: 100%;
		background: linear-gradient(124deg, #4000A1 -3.42%, #A17FE0 69.34%, #59C173 115.23%);
		&__content {
			display: flex;
			justify-content: space-between;
		}
		&__left {
			max-width: 588px;
			width: 100%;
		}
		&__title {
			font-weight: 600;
			font-size: 64px;
			line-height: 72px;
		}
		&__description {
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			margin-top: 32px;
		}
		&__button {
			background: #3B45FF;
			border-radius: 15px;
			padding: 16px 32px;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			margin-top: 62px;
		}
		&__right {
			width: 100%;
			max-width: 486px;
			height: 517px;
			background: #6D00A1;
		}
		&__developers {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			margin-top: 88px;
			img {
				margin-right: 16px;
			}
		}
		&__bottom {
			margin-top: 100px;
		}
		&__bottom-title {
			font-weight: 400;
			font-size: 16px;
			line-height: 30px;
			text-align: center;
		}
		&__bottom-content {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;
		}
		&__left-button-1 {
			width: 105px;
			height: 54px;
			background: #3B45FF;
			border-radius: 60px;
			position: absolute;
			top: 370px;
			right: -66px;
			cursor: pointer;
			padding-top: 14px;
			padding-left: 9px;
		}
		&__left-button-2 {
			width: 105px;
			height: 54px;
			background: #3B45FF;
			border-radius: 60px;
			position: absolute;
			top: 446px;
			right: -66px;
			cursor: pointer;
			padding-top: 18px;
			padding-left: 14px;
		}
	}
	&-features {
		padding: 90px 0 100px;
		&__top {
			color: #3B45FF;
			padding: 8px 16px;
			width: max-content;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		&__number {
			font-weight: 600;
			font-size: 32px;
			line-height: 32px;
		}
		&__label {
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			margin-top: 8px;
		}
		&__items {
			display: flex;
			justify-content: space-between;
			padding: 0 25px;
			margin-top: 60px;
		}
		&__item-icon {
			margin-left: auto;
			margin-right: auto;
		}
		&__item-text {
			color: #004CA3;
			max-width: 218px;
			text-align: center;
			margin-top: 14px;
		}
	}
	&-product {
		&__section {
			padding: 120px 0;
			&-title {
				font-weight: 600;
				font-size: 32px;
				line-height: 125%;
				letter-spacing: -0.02em;
				color: #3B45FF;
			}
			&-text {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 165%;
				color: #004CA3;
				margin-top: 32px;
			}
			&-content {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.product-section-1 {
			background: image('product-bg-1.png');
			background-size: cover;
			img {
				max-width: 432px;
			}
			.home-product__section-info {
				max-width: 544px;
			}
			.home-product__section-content {
				gap: 80px;
			}
		}
		.product-section-2 {
			background: image('product-bg-2.png');
			background-size: cover;
			img {
				max-width: 587px;
			}
			.home-product__section-info {
				max-width: 544px;
			}
			.home-product__section-content {
				gap: 66px;
			}
		}
		.product-section-3 {
			background: image('product-bg-3.png');
			background-size: cover;
			img {
				max-width: 432px;
			}
			.home-product__section-info {
				max-width: 544px;
			}
			.home-product__section-content {
				gap: 78px;
			}
		}
		&__title {
			font-weight: 600;
			font-size: 40px;
			line-height: 125%;
			text-align: center;
			letter-spacing: -0.02em;
			color: #3B45FF;
			margin-top: 13px;
			margin-bottom: 100px;
		}
	}
	&-community {
		padding: 120px 0 75px;
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 72px;
			color: #3B45FF;
			text-align: center;
		}
		&__items {
			display: flex;
			justify-content: space-between;
			margin-top: 60px;
			.community-item-1 {
				background: linear-gradient(359.7deg, #FF3D72 45.19%, rgba(251, 39, 97, 0) 144.85%);
			}
			.community-item-2 {
				background: linear-gradient(0deg, #3B45FF 45.33%, #3B45FF 45.33%, rgba(59, 69, 255, 0) 121.97%);
			}
			.community-item-3 {
				background: linear-gradient(356.88deg, #4000A1 46.58%, rgba(64, 0, 161, 0) 128.2%);
			}
		}
		&__item {
			width: 289px;
			height: 289px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&-number {
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 32px;
				text-align: center;
				color: #FFFFFF;
			}
			&-text {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				text-align: center;
				color: #FFFFFF;
				max-width: 227px;
				margin-top: 8px;
			}
		}
	}
	&-loved {
		padding: 75px 0 120px;
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 72px;
			color: #3B45FF;
			text-align: center;
		}
		&__items {
			margin-top: 60px;
			display: flex;
			justify-content: space-between;
		}
		&__item {
			width: 350px;
			color: #333333;
			&-text {
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 140%;
				text-align: center;
				margin-top: 32px;
				height: 102px;
			}
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			&-name {
				margin-top: 25px;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				text-align: center;
			}
			&-post {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 160%;
				text-align: center;
				margin-top: 4px;
			}
		}
	}
	&-form {
		padding: 200px 0;
		background: image('form-bg.png');
		background-size: cover;
		&__content {
			background: linear-gradient(0deg, #3B45FF, #3B45FF);
			border-radius: 15px;
			padding: 27px 101px 28px 108px;
			display: flex;
			justify-content: space-between;
			img {
				width: 378px;
				height: 378px;
			}
		}
		&__title {
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 72px;
			margin-top: 25px;
		}
		&__text {
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			margin-top: 10px;
			max-width: 588px;
		}
		&__row {
			margin-top: 65px;
			display: flex;
		}
		&__input {
			width: 380px;
			height: 59px;
			background: #FFFFFF;
			border-radius: 15px;
			margin-right: 27px;
			color: black;
			&-label {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 32px;
				color: #FFFFFF;
				margin-top: 4px;
			}
		}
		&__button {
			width: 145px;
			height: 59px;
			background: #4F84F7;
			border-radius: 15px;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			color: #FFFFFF;
		}
	}
}

@media screen and (max-width: 767px) {
	.home {
	}
}
