.home {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	&-intro {
		overflow: hidden;
		position: relative;
		padding: 159px 0 69px;
		width: 100%;
		background: linear-gradient(124deg, #4000A1 -3.42%, #A17FE0 69.34%, #59C173 115.23%);
		.ticker__element div {
			margin-right: 64px;
		}
		&__animation {
			position: absolute;
			right: -50px;
			top: -50px;
			width: 657px;
			height: 596px;
			overflow: hidden;
		}
		&__animation-elem {
			position: absolute;
			width: 46647px;
			height: 596px;
			background-image: url('https://iili.io/HvuSQNp.webp'), url('https://iili.io/HvuSZDN.webp'), url('https://iili.io/HvuSLRR.webp');
			background-position: 0, 16383px, 32766px;
			background-repeat: no-repeat, no-repeat;
			animation: play 3s steps(71) infinite;
		}
		@keyframes play {
		   from { left: 0; }
			 to { left: -46647px; }
		}
		/*eo {
			position: absolute;
			left: 0;
			top: 0;
		}*/
		&__content {
			display: flex;
			justify-content: space-between;
			position: relative;
		}
		&__left {
			max-width: 588px;
			width: 100%;
			margin-top: 9px;
			position: relative;
			z-index: 1;
		}
		&__title {
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 64px;
			line-height: 72px;
		}
		&__description {
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			margin-top: 32px;
		}
		&__button {
			font-family: 'Poppins';
			background: #3B45FF;
			border-radius: 15px;
			padding: 16px 32px;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			margin-top: 62px;
			transition: color 0.25s ease;
		}
		&__button:hover {
			color: #8DF6F1;
			transition: color 0.25s ease;
		}
		&__right {
			width: 100%;
			max-width: 486px;
			height: 517px;
			background: #6D00A1;
		}
		&__developers {
			font-family: 'Poppins';
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			margin-top: 88px;
			img {
				margin-right: 16px;
			}
		}
		&__bottom {
			margin-top: 100px;
			.partner-1 {
				width: 167px;
				height: 40px;
			}
			.partner-2 {
				width: 202px;
				height: 45px;
			}
			.partner-3 {
				width: 202px;
				height: 38px;
			}
			.partner-4 {
				width: 174px;
				height: 38px;
			}
			.partner-5 {
				width: 193px;
				height: 57px;
			}
			&-logo {
				display: flex;
				align-items: center;
				span {
					display: none;
				}
			}
		}
		&__bottom-title {
			font-family: 'Poppins';
			font-weight: 400;
			font-size: 16px;
			line-height: 30px;
			text-align: center;
			position: relative;
			z-index: 1;
		}
		.loop-collection {
			margin-right: 64px;
			animation: linear infinite;
			animation-name: run;
			animation-duration: 20s;
		}
		@-webkit-keyframes run {
			0% {
			  left: 0;
			  transform: translateX(0);
			}
			100% {
			  left: 100%;
			  transform: translateX(-1260px);//translateX(-1260px);
			}
		}
		&__bottom-content {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;
			position: relative;
			align-items: center;
			img {
				//margin-right: 64px;
			}
			img:last-child {
			}
		}
		&__right-button-1 {
			transition: all 0.25s ease;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 105px;
			height: 56px;
			background: #3B45FF;
			border-radius: 60px;
			position: fixed;
			z-index: 5;
			top: 370px;
			right: -55px;
			cursor: pointer;
			padding-left: 9px;
			padding-right: 14px;
			.home-intro__right-button-icon {
				flex-shrink: 0;
				width: 36px;
				height: 36px;
			}
			.home-intro__right-button-arrow {
				display: none;
			}
			div {
				display: block;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				margin-left: 3px;
				opacity: 0;
			}
		}
		&__right-button-1.link-opened {
			transition: all 0.25s ease;
			width: 261px;
			right: 0;
			div {
				opacity: 1;
				transition: all 1.5s ease;
			}
			.home-intro__right-button-arrow {
				display: block;
				margin-left: 5px;
			}
		}
		&__right-button-2 {
			transition: all 0.25s ease;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 105px;
			height: 54px;
			background: #3B45FF;
			border-radius: 60px;
			position: fixed;
			z-index: 5;
			top: 446px;
			right: -55px;
			cursor: pointer;
			padding-left: 14px;
			padding-right: 14px;
			.home-intro__right-button-icon {
				flex-shrink: 0;
				width: 31px;
				height: 31px;
			}
			.home-intro__right-button-arrow {
				display: none;
				margin-left: 5px;
			}
			div {
				display: block;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				margin-left: 5px;
				opacity: 0;
			}
		}
		&__right-button-2.link-opened {
			transition: all 0.25s ease;
			width: 212px;
			right: 0;
			div {
				display: block;
				opacity: 1;
				transition: all 1.5s ease;
			}
			.home-intro__right-button-arrow {
				display: block;
			}
		}
		&__button-wrap {
			display: none;
		}
	}
	&-features {
		padding: 90px 0 100px;
		&__top {
			color: #3B45FF;
			padding: 8px 16px;
			width: max-content;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		&__number {
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 32px;
			line-height: 32px;
		}
		&__label {
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			margin-top: 8px;
		}
		&__items {
			display: flex;
			justify-content: space-between;
			padding: 0 25px;
			margin-top: 60px;
		}
		&__item-icon {
			margin-left: auto;
			margin-right: auto;
		}
		&__item-text {
			color: #004CA3;
			max-width: 218px;
			text-align: center;
			margin-top: 14px;
			font-weight: 500;
		}
	}
	&-product {
		&__section {
			padding: 100px 0;
			&-title {
				font-family: 'Poppins';
				font-weight: 600;
				font-size: 32px;
				line-height: 125%;
				letter-spacing: -0.02em;
				color: #3B45FF;
			}
			&-text {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 165%;
				color: #004CA3;
				margin-top: 32px;
			}
			&-content {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.container {
				position: relative;
			}
			&-img-wrap {
				flex-shrink: 0;
			}
		}
		.product-section-1 {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53%, #FFFFFF 100%), image('product-bg.png');
			background-size: cover;
			img {
				width: 418px;
				height: 436px;
			}
			.home-product__section-info {
				position: relative;
				max-width: 544px;
			}
			.home-product__section-content {
				gap: 147px;
			}
			.home-product__section-light {
				width: 784px;
				height: 757px;
				position: absolute;
				left: -212px;
				top: -149px;
				max-width: 784px;
			}
			.home-product__section-img-wrap {
				position: relative;
				.home-product__section-img {
					position: relative;
					z-index: 1;
				}
			}
		}
		.product-section-2 {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53%, #FFFFFF 100%), image('product-bg.png');
			background-size: cover;
			img {
				width: 454px;
				height: 509px;
			}
			.home-product__section-info {
				max-width: 544px;
				margin-left: -161px;
			}
			.home-product__section-content {
				gap: 80px;
			}
			.home-product__section-light {
				width: 731px;
				height: 689px;
				position: absolute;
				left: -212px;
				top: -149px;
				max-width: 731px;
			}
			.home-product__section-img-wrap {
				position: relative;
				.home-product__section-img {
					position: relative;
					z-index: 1;
				}
			}
		}
		.product-section-3 {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53%, #FFFFFF 100%), image('product-bg.png');
			background-size: cover;
			img {
				width: 378px;
				height: 450px;
			}
			.home-product__section-info {
				max-width: 564px;
			}
			.home-product__section-content {
				gap: 146px;
			}
			.home-product__section-light {
				width: 806px;
				height: 735px;
				position: absolute;
				left: -212px;
				top: -149px;
				max-width: 806px;
			}
			.home-product__section-img-wrap {
				position: relative;
				.home-product__section-img {
					position: relative;
					z-index: 1;
				}
			}
		}
		&__title {
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 40px;
			line-height: 125%;
			text-align: center;
			letter-spacing: -0.02em;
			color: #3B45FF;
			margin-top: 13px;
			margin-bottom: 59px;
			max-width: 435px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&-community {
		padding: 120px 0 75px;
		&__title {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 72px;
			color: #3B45FF;
			text-align: center;
		}
		&__items {
			display: flex;
			justify-content: space-between;
			margin-top: 60px;
			.community-item-1 {
				background: linear-gradient(359.7deg, #FF3D72 45.19%, rgba(251, 39, 97, 0) 144.85%);
			}
			.community-item-2 {
				background: linear-gradient(0deg, #3B45FF 45.33%, #3B45FF 45.33%, rgba(59, 69, 255, 0) 121.97%);
			}
			.community-item-3 {
				background: linear-gradient(356.88deg, #4000A1 46.58%, rgba(64, 0, 161, 0) 128.2%);
			}
		}
		&__item {
			width: 289px;
			height: 289px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&-number {
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 32px;
				text-align: center;
				color: #FFFFFF;
			}
			&-text {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				text-align: center;
				color: #FFFFFF;
				max-width: 227px;
				margin-top: 8px;
			}
		}
	}
	&-loved {
		padding: 75px 0 120px;
		&__title {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 72px;
			color: #3B45FF;
			text-align: center;
		}
		&__items {
			margin-top: 60px;
			display: flex;
			justify-content: space-between;
		}
		&__item {
			width: 350px;
			color: #333333;
			&-text {
				font-style: normal;
				font-weight: 400;
				font-size: 23px;
				line-height: 140%;
				text-align: center;
				margin-top: 32px;
				height: 102px;
			}
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			&-name {
				font-family: 'Poppins';
				margin-top: 25px;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				text-align: center;
			}
			&-post {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 160%;
				text-align: center;
				margin-top: 4px;
			}
		}
	}
	&-form {
		position: relative;
		padding: 200px 0;
		background: image('form-bg.png');
		background-size: cover;
		&__content {
			background: linear-gradient(97.36deg, #4020CB 0%, #3D47FF 28.45%, #3D47FF 77.08%, #5C10BC 100%), linear-gradient(0deg, #3B45FF, #3B45FF);
			border-radius: 15px;
			padding: 27px 101px 28px 108px;
			display: flex;
			justify-content: space-between;
			max-width: 1205px;
			margin-left: auto;
			margin-right: auto;
			.lf-player-container {
				width: 378px;
				height: 378px;
			}
		}
		&__title {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 72px;
			margin-top: 25px;
		}
		&__text {
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			margin-top: 10px;
			max-width: 588px;
		}
		&__row {
			margin-top: 65px;
			display: flex;
		}
		&__input {
			width: 380px;
			height: 59px;
			background: #FFFFFF;
			border-radius: 15px;
			margin-right: 27px;
			color: black;
			&-label {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 32px;
				color: #FFFFFF;
				margin-top: 4px;
			}
		}
		&__button {
			font-family: 'Poppins';
			width: 145px;
			height: 59px;
			background: #4F84F7;
			border-radius: 15px;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
			transition: color 0.25s ease;
		}
		&__button:hover {
			color: #8DF6F1;
			transition: color 0.25s ease;
		}
		&-modal-wrapper {
			position: absolute;
			width: 100%;
			height: 120vh;
			left: 0;
			top: 0;
			background: rgba(0, 0, 0, 0.2);
		}
		&-modal {
			background: linear-gradient(124deg,#4000a1 -3.42%,#3b45ff -3.41%,#a17fe0 84.42%);
			width: max-content;
			padding: 25px;
			padding-bottom: 50px;
			border-radius: 11px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%) translateX(-50%);
		}
		&-modal-close {
			margin-left: auto;
			display: block;
		}
		&-modal-title {
			text-align: center;
		}
		&__form-error {
			color: red;
			font-size: 12px;
			margin-top: 5px;
			margin-left: 13px;
			display: block;
		}
	}
}

@media screen and (max-width: 1440px) {
	.home {
		&-intro {
			&__video {
				height: 100%;
				width: auto;
			}
		}
		&-product {
			.product-section-2 {
				.home-product__section-info {
					margin-left: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1341px) {
	.home {
		&-intro {
			&__bottom {
				&-content {
					img {
						transform: scale(0.6);
						flex-shrink: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1230px) {
	.home {
		&-intro {
			&__animation {
				transform: scale(0.8);
				right: -150px;
			}
		}
		&-product {
			.product-section-1 {
				.home-product__section-content {
					gap: 70px;
				}
			}
			.product-section-2 {
				.home-product__section-info {
					margin-left: auto;
				}
				.home-product__section-content {
					gap: 80px;
				}
			}
			.product-section-3 {
				.home-product__section-content {
					gap: 70px;
				}
			}
		}
		&-community {
			&__items {
				flex-direction: column;
				align-items: center;
				gap: 18px;
			}
		}
		&-loved {
			&__items {
				flex-direction: column;
				align-items: center;
				gap: 50px;
			}
			&__item-text {
				height: auto;
			}
		}
		&-form {
			&__content {
				padding-left: 50px;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.home {
		&-intro {
			padding-top: 121px;
			&__animation {
				transform: scale(0.8);
				right: -150px;
			}
			&__content {
				flex-direction: column;
				align-items: center;
			}
			&__title {
				font-style: normal;
				font-weight: 600;
				font-size: 40px;
				line-height: 42px;
				text-align: center;
			}
			&__left {
				margin-top: 0;
				max-width: 100%;
			}
			&__description {
				font-style: normal;
				font-weight: 400;
				font-size: 17px;
				line-height: 21px;
				text-align: center;
				margin-top: 30px;
			}
			&__button {
				font-style: normal;
				font-weight: 500;
				font-size: 15px;
				line-height: 24px;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			&__developers {
				margin-top: 46px;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 140%;
				img {
					width: 29px;
					height: 29px;
				}
			}
			&__animation {
				top: 93px;
				max-width: auto;
				width: 657px;
				height: 596px;
				transform: translateX(-50%) scale(0.6);
				left: 50%;
				position: absolute;
			}
			&__bottom {
				margin-top: 80px;
				&-title {
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 30px;
				}
				&-content {
					margin-top: 20px;
					gap: 8px;
					margin-left: -4px;
					img {
						transform: scale(1.4);
						flex-shrink: 0;
					}
					.loop-collection {
						max-height: 20px;
					}
					.partner-1 {
						width: 59px;
						height: 13px;
					}
					.partner-2 {
						width: 71px;
						height: 15px;
					}
					.partner-3 {
						width: 71px;
						height: 13px;
					}
					.partner-4 {
						width: 60px;
						height: 13px;
					}
					.partner-5 {
						width: 68px;
						height: 19px;
					}
				}
			}
			&__button-wrap {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: max-content;
			}
			&__button {
				background: #3B45FF;
				border-radius: 15px;
				padding: 16px 32px;
				font-style: normal;
				font-weight: 500;
				font-size: 15px;
				line-height: 24px;
				margin-top: 473px;
			}
		}
		&-features {
			padding: 37px 0 52px;
			&__top {
				max-width: 100%;
			}
			&__number {
				font-style: normal;
				font-weight: 600;
				font-size: 30px;
				line-height: 30px;
			}
			&__label {
				font-style: normal;
				font-weight: 400;
				font-size: 16.9972px;
				line-height: 23px;
			}
			&__items {
				margin-top: 34px;
				flex-direction: column;
				align-items: center;
				gap: 36px;
			}
			&__item-text {
				margin-top: 10px;
				font-style: normal;
				font-weight: 500;
				font-size: 15px;
				line-height: 19px;
				max-width: 187px;
			}
		}
		&-product {
			padding-top: 0;
			&__title {
				margin-top: 0;
				font-style: normal;
				font-weight: 600;
				font-size: 30px;
				line-height: 125%;
				margin-bottom: 58px;
			}
			.product-section-1 {
				padding-top: 0;
				img {
					width: 250px;
					height: 261px;
				}
				.home-product__section-content {
					gap: 22px;
				}
				.home-product__section-light {
					width: 484px;
					height: 457px;
					position: absolute;
					left: -157px;
					top: -97px;
					max-width: 484px;
				}
			}
			.product-section-2 {
				padding-top: 89px;
				padding-bottom: 74px;
				img {
					order: 1;
					width: 317px;
					height: 355px;
				}
				.home-product__section-info {
					order: 2;
					margin-left: 0;
				}
				.home-product__section-content {
					gap: 28px;
				}
				.home-product__section-light {
					width: 431px;
					height: 389px;
					position: absolute;
					left: -157px;
					top: -77px;
					max-width: 431px;
				}
			}
			.product-section-3 {
				padding-top: 61px;
				padding-bottom: 35px;
				img {
					width: 251px;
					height: 299px;
				}
				.home-product__section-info {
				}
				.home-product__section-content {
					gap: 23px;
				}
				.home-product__section-light {
					width: 506px;
					height: 435px;
					position: absolute;
					left: -127px;
					top: -97px;
					max-width: 406px;
				}
			}
			&__section {
				padding: 80px 0;
				&-content {
					flex-direction: column;
					align-items: center;
				}
				&-title {
					font-weight: 600;
					font-size: 21px;
					line-height: 125%;
					text-align: center;
					letter-spacing: -0.02em;
					max-width: 297px;
					margin-left: auto;
					margin-right: auto;
				}
				&-text {
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 165%;
					margin-top: 11px;
				}
			}
		}
		&-community {
			padding: 42px 0 22px;
			&__title {
				font-style: normal;
				font-weight: 600;
				font-size: 26px;
				line-height: 44px;
			}
			&__items {
				margin-top: 50px;
				gap: 33px;
			}
			&__item {
				width: 239px;
				height: 239px;
				&-number {
					font-style: normal;
					font-weight: 600;
					font-size: 19.8066px;
					line-height: 26px;
				}
				&-text {
					font-style: normal;
					font-weight: 400;
					font-size: 14.855px;
					line-height: 20px;
					max-width: 180px;
				}
			}
		}
		&-loved {
			padding-top: 22px;
			padding-bottom: 70px;
			&__items {
				flex-direction: column;
				align-items: center;
				gap: 50px;
			}
			&__item-text {
				height: auto;
			}
			&__title {
				font-weight: 600;
				font-size: 30px;
				line-height: 46px;
			}
			&__items {
				margin-top: 25px;
				gap: 33px;
			}
			&__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				max-width: 241px;
				&-text {
					font-weight: 400;
					font-size: 15.48px;
					line-height: 140%;
					margin-top: 25px;
				}
				&-name {
					font-weight: 500;
					font-size: 12.9px;
					line-height: 19px;
					margin-top: 10px;
				}
				&-post {
					font-weight: 400;
					font-size: 10.32px;
					line-height: 160%;
				}
			}
			.loved-item-1 {
				img {
					max-width: 146px;
				}
			}
			.loved-item-2 {
				img {
					max-width: 118px;
				}
			}
			.loved-item-3 {
				img {
					max-width: 90px;
				}
			}
		}
		&-form {
			padding-top: 0;
			padding-bottom: 237px;
			background-position: bottom center;
			.container {
				padding: 0;
				max-width: 100%;
			}
			&__content {
				border-radius: 0;
				background: linear-gradient(109.22deg, #4101A2 -9.36%, #3D47FF 66.29%, #FF3D72 156.36%);
				padding: 17px 15px 57px;
				flex-direction: column;

				.lf-player-container {
					width: 263px;
					height: 263px;
					margin-left: auto;
					margin-right: auto;
				}
			}
			&__title {
				font-weight: 600;
				font-size: 30px;
				line-height: 44px;
				margin-top: 0;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			&__text {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				margin-top: 11px;
				max-width: 340px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			&__row {
				flex-direction: column;
			}
			&__input {
				margin-right: 0;
				max-width: 320px;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			&__button {
				margin-top: 47px;
				margin-left: auto;
				margin-right: auto;
				font-weight: 500;
				font-size: 15px;
				line-height: 24px;
			}
			&__form-error {
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.home {
		&-intro {
			&__bottom {
				&-content {
					img {
						transform: scale(1);
					}
				}
			}
		}
		&-form {
			background: image('form-bg-mobile.png');
			background-size: contain;
			background-position-y: bottom;
		}
	}
}
