.home {
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	&-intro {
		overflow: hidden;
		position: relative;
		padding: 159px 0 69px;
		width: 100%;
		background: linear-gradient(124deg, #4000A1 -3.42%, #A17FE0 69.34%, #59C173 115.23%);
		.ticker__element div {
			margin-right: 64px;
		}
		&__animation {
			position: absolute;
			right: 0;
			top: 0;
			width: 657px;
			height: 596px;
			background-image: url('https://iili.io/HOl0b7p.png');
			animation: play 3s steps(71) infinite;
		}
		@keyframes play {
		   from { background-position:    0px; }
			 to { background-position: -46647px; }
		}
		&__video {
			position: absolute;
			left: 0;
			top: 0;
		}
		&__content {
			display: flex;
			justify-content: space-between;
			position: relative;
		}
		&__left {
			max-width: 588px;
			width: 100%;
			margin-top: 9px;
		}
		&__title {
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 64px;
			line-height: 72px;
		}
		&__description {
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			margin-top: 32px;
		}
		&__button {
			font-family: 'Poppins';
			background: #3B45FF;
			border-radius: 15px;
			padding: 16px 32px;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			margin-top: 62px;
			transition: color 0.25s ease;
		}
		&__button:hover {
			color: #8DF6F1;
			transition: color 0.25s ease;
		}
		&__right {
			width: 100%;
			max-width: 486px;
			height: 517px;
			background: #6D00A1;
		}
		&__developers {
			font-family: 'Poppins';
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			margin-top: 88px;
			img {
				margin-right: 16px;
			}
		}
		&__bottom {
			margin-top: 100px;
			.partner-1 {
				width: 167px;
				height: 40px;
			}
			.partner-2 {
				width: 202px;
				height: 45px;
			}
			.partner-3 {
				width: 202px;
				height: 38px;
			}
			.partner-4 {
				width: 174px;
				height: 38px;
			}
			.partner-5 {
				width: 193px;
				height: 57px;
			}
			&-logo {
				display: flex;
				align-items: center;
				span {
					display: none;
				}
			}
		}
		&__bottom-title {
			font-family: 'Poppins';
			font-weight: 400;
			font-size: 16px;
			line-height: 30px;
			text-align: center;
			position: relative;
			z-index: 1;
		}
		.loop-collection {
			margin-right: 64px;
			animation: linear infinite;
			animation-name: run;
			animation-duration: 20s;
		}
		@-webkit-keyframes run {
			0% {
			  left: 0;
			  transform: translateX(0);
			}
			100% {
			  left: 100%;
			  transform: translateX(-1260px);//translateX(-1260px);
			}
		}
		&__bottom-content {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;
			position: relative;
			align-items: center;
			img {
				margin-right: 64px;
			}
			img:last-child {
			}
		}
		&__right-button-1 {
			transition: all 0.25s ease;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 105px;
			height: 56px;
			background: #3B45FF;
			border-radius: 60px;
			position: fixed;
			z-index: 5;
			top: 370px;
			right: -55px;
			cursor: pointer;
			padding-left: 9px;
			padding-right: 14px;
			.home-intro__right-button-icon {
				flex-shrink: 0;
				width: 36px;
				height: 36px;
			}
			.home-intro__right-button-arrow {
				display: none;
			}
			div {
				display: block;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				margin-left: 3px;
				opacity: 0;
			}
		}
		&__right-button-1:hover {
			transition: all 0.25s ease;
			width: 261px;
			right: 0;
			div {
				opacity: 1;
				transition: all 1.5s ease;
			}
			.home-intro__right-button-arrow {
				display: block;
				margin-left: 5px;
			}
		}
		&__right-button-2 {
			transition: all 0.25s ease;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 105px;
			height: 54px;
			background: #3B45FF;
			border-radius: 60px;
			position: fixed;
			z-index: 5;
			top: 446px;
			right: -55px;
			cursor: pointer;
			padding-left: 14px;
			padding-right: 14px;
			.home-intro__right-button-icon {
				flex-shrink: 0;
				width: 31px;
				height: 31px;
			}
			.home-intro__right-button-arrow {
				display: none;
				margin-left: 5px;
			}
			div {
				display: block;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				margin-left: 5px;
				opacity: 0;
			}
		}
		&__right-button-2:hover {
			transition: all 0.25s ease;
			width: 212px;
			right: 0;
			div {
				display: block;
				opacity: 1;
				transition: all 1.5s ease;
			}
			.home-intro__right-button-arrow {
				display: block;
			}
		}
		&__button-wrap {
			display: none;
		}
	}
	&-features {
		padding: 90px 0 100px;
		&__top {
			color: #3B45FF;
			padding: 8px 16px;
			width: max-content;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		&__number {
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 32px;
			line-height: 32px;
		}
		&__label {
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			margin-top: 8px;
		}
		&__items {
			display: flex;
			justify-content: space-between;
			padding: 0 25px;
			margin-top: 60px;
		}
		&__item-icon {
			margin-left: auto;
			margin-right: auto;
		}
		&__item-text {
			color: #004CA3;
			max-width: 218px;
			text-align: center;
			margin-top: 14px;
		}
	}
	&-product {
		&__section {
			padding: 100px 0;
			&-title {
				font-family: 'Poppins';
				font-weight: 600;
				font-size: 32px;
				line-height: 125%;
				letter-spacing: -0.02em;
				color: #3B45FF;
			}
			&-text {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 165%;
				color: #004CA3;
				margin-top: 32px;
			}
			&-content {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.product-section-1 {
			background: image('product-bg-1.png');
			background-size: cover;
			img {
				max-width: 384px;
			}
			.home-product__section-info {
				max-width: 544px;
			}
			.home-product__section-content {
				gap: 144px;
			}
		}
		.product-section-2 {
			background: image('product-bg-2.png');
			background-size: cover;
			img {
				max-width: 331px;
			}
			.home-product__section-info {
				max-width: 544px;
				margin-left: -161px;
			}
			.home-product__section-content {
				gap: 167px;
			}
		}
		.product-section-3 {
			background: image('product-bg-3.png');
			background-size: cover;
			img {
				max-width: 406px;
			}
			.home-product__section-info {
				max-width: 564px;
			}
			.home-product__section-content {
				gap: 122px;
			}
		}
		&__title {
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 40px;
			line-height: 125%;
			text-align: center;
			letter-spacing: -0.02em;
			color: #3B45FF;
			margin-top: 13px;
			margin-bottom: 100px;
		}
	}
	&-community {
		padding: 120px 0 75px;
		&__title {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 72px;
			color: #3B45FF;
			text-align: center;
		}
		&__items {
			display: flex;
			justify-content: space-between;
			margin-top: 60px;
			.community-item-1 {
				background: linear-gradient(359.7deg, #FF3D72 45.19%, rgba(251, 39, 97, 0) 144.85%);
			}
			.community-item-2 {
				background: linear-gradient(0deg, #3B45FF 45.33%, #3B45FF 45.33%, rgba(59, 69, 255, 0) 121.97%);
			}
			.community-item-3 {
				background: linear-gradient(356.88deg, #4000A1 46.58%, rgba(64, 0, 161, 0) 128.2%);
			}
		}
		&__item {
			width: 289px;
			height: 289px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&-number {
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 32px;
				text-align: center;
				color: #FFFFFF;
			}
			&-text {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				text-align: center;
				color: #FFFFFF;
				max-width: 227px;
				margin-top: 8px;
			}
		}
	}
	&-loved {
		padding: 75px 0 120px;
		&__title {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 72px;
			color: #3B45FF;
			text-align: center;
		}
		&__items {
			margin-top: 60px;
			display: flex;
			justify-content: space-between;
		}
		&__item {
			width: 350px;
			color: #333333;
			&-text {
				font-style: normal;
				font-weight: 400;
				font-size: 23px;
				line-height: 140%;
				text-align: center;
				margin-top: 32px;
				height: 102px;
			}
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			&-name {
				font-family: 'Poppins';
				margin-top: 25px;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				text-align: center;
			}
			&-post {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 160%;
				text-align: center;
				margin-top: 4px;
			}
		}
	}
	&-form {
		padding: 200px 0;
		background: image('form-bg.png');
		background-size: cover;
		&__content {
			background: linear-gradient(97.36deg, #4020CB 0%, #3D47FF 28.45%, #3D47FF 77.08%, #5C10BC 100%), linear-gradient(0deg, #3B45FF, #3B45FF);
			border-radius: 15px;
			padding: 27px 101px 28px 108px;
			display: flex;
			justify-content: space-between;
			.lf-player-container {
				width: 378px;
				height: 378px;
			}
		}
		&__title {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 72px;
			margin-top: 25px;
		}
		&__text {
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			margin-top: 10px;
			max-width: 588px;
		}
		&__row {
			margin-top: 65px;
			display: flex;
		}
		&__input {
			width: 380px;
			height: 59px;
			background: #FFFFFF;
			border-radius: 15px;
			margin-right: 27px;
			color: black;
			&-label {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 32px;
				color: #FFFFFF;
				margin-top: 4px;
			}
		}
		&__button {
			font-family: 'Poppins';
			width: 145px;
			height: 59px;
			background: #4F84F7;
			border-radius: 15px;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
			transition: color 0.25s ease;
		}
		&__button:hover {
			color: #8DF6F1;
			transition: color 0.25s ease;
		}
	}
}

@media screen and (max-width: 1440px) {
	.home {
		&-intro {
			&__video {
				height: 100%;
				width: auto;
			}
		}
		&-product {
			.product-section-2 {
				.home-product__section-info {
					margin-left: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 1230px) {
	.home {
		&-intro {
			&__animation {
				transform: scale(0.8);
				right: -150px;
			}
		}
		&-product {
			.product-section-1 {
				.home-product__section-content {
					gap: 70px;
				}
			}
			.product-section-2 {
				.home-product__section-info {
					margin-left: auto;
				}
				.home-product__section-content {
					gap: 80px;
				}
			}
			.product-section-3 {
				.home-product__section-content {
					gap: 70px;
				}
			}
		}
		&-community {
			&__items {
				flex-direction: column;
				align-items: center;
				gap: 18px;
			}
		}
		&-loved {
			&__items {
				flex-direction: column;
				align-items: center;
				gap: 50px;
			}
			&__item-text {
				height: auto;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.home {
		&-intro {
			padding-top: 121px;
			&__animation {
				background-image: url('https://iili.io/HOVxYAX.png');
				transform: scale(0.8);
				right: -150px;
			}
			&__content {
				flex-direction: column;
				align-items: center;
			}
			&__title {
				font-style: normal;
				font-weight: 600;
				font-size: 40px;
				line-height: 42px;
				text-align: center;
			}
			&__left {
				margin-top: 0;
				max-width: 100%;
			}
			&__description {
				font-style: normal;
				font-weight: 400;
				font-size: 17px;
				line-height: 21px;
				text-align: center;
				margin-top: 30px;
			}
			&__button {
				font-style: normal;
				font-weight: 500;
				font-size: 15px;
				line-height: 24px;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			&__developers {
				margin-top: 46px;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 140%;
				img {
					width: 29px;
					height: 29px;
				}
			}
			&__animation {
				top: 93px;
				max-width: auto;
				width: 657px;
				height: 596px;
				transform: translateX(-50%) scale(0.6);
				left: 50%;
				position: absolute;
			}
			&__bottom {
				margin-top: 80px;
				&-title {
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 30px;
				}
				&-content {
					margin-top: 20px;
					.loop-collection {
						max-height: 20px;
					}
				}
			}
			&__button-wrap {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: max-content;
			}
			&__button {
				background: #3B45FF;
				border-radius: 15px;
				padding: 16px 32px;
				font-style: normal;
				font-weight: 500;
				font-size: 15px;
				line-height: 24px;
				margin-top: 473px;
			}
		}
		&-features {
			padding: 37px 0 52px;
			&__top {
				max-width: 100%;
			}
			&__number {
				font-style: normal;
				font-weight: 600;
				font-size: 30px;
				line-height: 30px;
			}
			&__label {
				font-style: normal;
				font-weight: 400;
				font-size: 16.9972px;
				line-height: 23px;
			}
			&__items {
				margin-top: 34px;
				flex-direction: column;
				align-items: center;
				gap: 36px;
			}
			&__item-text {
				margin-top: 10px;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				max-width: 187px;
			}
		}
		&-product {
			padding-top: 0;
			&__title {
				margin-top: 0;
				font-style: normal;
				font-weight: 600;
				font-size: 30px;
				line-height: 125%;
				margin-bottom: 58px;
			}
			.product-section-1 {
				padding-top: 0;
				img {
					max-width: 231px;
				}
				.home-product__section-content {
					gap: 38px;
				}
			}
			.product-section-2 {
				padding-top: 89px;
				padding-bottom: 74px;
				img {
					order: 1;
					max-width: 205px;
				}
				.home-product__section-info {
					order: 2;
				}
				.home-product__section-content {
					gap: 38px;
				}
			}
			.product-section-3 {
				padding-top: 61px;
				padding-bottom: 35px;
				img {
					max-width: 273px;
				}
				.home-product__section-info {
				}
				.home-product__section-content {
					gap: 20px;
				}
			}
			&__section {
				padding: 80px 0;
				&-content {
					flex-direction: column;
					align-items: center;
				}
				&-title {
					font-weight: 600;
					font-size: 21px;
					line-height: 125%;
					text-align: center;
					letter-spacing: -0.02em;
					max-width: 297px;
					margin-left: auto;
					margin-right: auto;
				}
				&-text {
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 165%;
					margin-top: 11px;
				}
			}
		}
		&-community {
			padding: 42px 0 22px;
			&__title {
				font-style: normal;
				font-weight: 600;
				font-size: 26px;
				line-height: 44px;
			}
			&__items {
				margin-top: 50px;
				gap: 33px;
			}
			&__item {
				width: 239px;
				height: 239px;
				&-number {
					font-style: normal;
					font-weight: 600;
					font-size: 19.8066px;
					line-height: 26px;
				}
				&-text {
					font-style: normal;
					font-weight: 400;
					font-size: 14.855px;
					line-height: 20px;
					max-width: 180px;
				}
			}
		}
		&-loved {
			padding-top: 22px;
			padding-bottom: 70px;
			&__items {
				flex-direction: column;
				align-items: center;
				gap: 50px;
			}
			&__item-text {
				height: auto;
			}
			&__title {
				font-weight: 600;
				font-size: 30px;
				line-height: 46px;
			}
			&__items {
				margin-top: 25px;
				gap: 33px;
			}
			&__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				max-width: 241px;
				&-text {
					font-weight: 400;
					font-size: 15.48px;
					line-height: 140%;
					margin-top: 25px;
				}
				&-name {
					font-weight: 500;
					font-size: 12.9px;
					line-height: 19px;
					margin-top: 10px;
				}
				&-post {
					font-weight: 400;
					font-size: 10.32px;
					line-height: 160%;
				}
			}
			.loved-item-1 {
				img {
					max-width: 146px;
				}
			}
			.loved-item-2 {
				img {
					max-width: 118px;
				}
			}
			.loved-item-3 {
				img {
					max-width: 90px;
				}
			}
		}
		&-form {
			padding-top: 0;
			padding-bottom: 237px;
			background-position: bottom center;
			.container {
				padding: 0;
				max-width: 100%;
			}
			&__content {
				border-radius: 0;
				background: linear-gradient(109.22deg, #4101A2 -9.36%, #3D47FF 66.29%, #FF3D72 156.36%);
				padding: 17px 15px 57px;
				flex-direction: column;

				.lf-player-container {
					width: 263px;
					height: 263px;
					margin-left: auto;
					margin-right: auto;
				}
			}
			&__title {
				font-weight: 600;
				font-size: 30px;
				line-height: 44px;
				margin-top: 0;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			&__text {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				margin-top: 11px;
				max-width: 340px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			&__row {
				flex-direction: column;
			}
			&__input {
				margin-right: 0;
				max-width: 320px;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			&__button {
				margin-top: 47px;
				margin-left: auto;
				margin-right: auto;
				font-weight: 500;
				font-size: 15px;
				line-height: 24px;
			}
		}
	}
}
