.requestademo {
	min-height: 100vh;
	position: relative;
	padding: 158px 0 100px;
	background: linear-gradient(124deg, #A17FE0 45.09%, #59C173 122.43%, #FFFFFF 122.44%);
	&__bottom {
		margin-top: 100px;
	}
	&__bottom-title {
		font-family: 'Poppins';
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
	}
	&__bottom-content {
		display: flex;
		justify-content: space-between;
		margin-top: 25px;
		.partner-1 {
			width: 167px;
			height: 40px;
		}
		.partner-2 {
			width: 202px;
			height: 45px;
		}
		.partner-3 {
			width: 202px;
			height: 38px;
		}
		.partner-4 {
			width: 174px;
			height: 38px;
		}
		.partner-5 {
			width: 193px;
			height: 57px;
		}
		img:last-child {
			margin-right: 128px;
		}
		img {
			margin-right: 64px;
		}
	}
	&__content {
		display: flex;
	}
	&__info {
		max-width: 485px;
		&-title {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 64px;
			line-height: 72px;
		}
		&-description {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 140%;
			letter-spacing: -0.72px;
			margin-top: 32px;
		}
		&-list {
			margin-top: 56px;
			li {
				letter-spacing: -0.72px;
				margin-bottom: 24px;
				font-family: 'DM Sans';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 140%;
				padding-left: 45px;
				position: relative;
				img {
					position: absolute;
					left: 0;
					top: 0;
				}

			}
			li:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__form {
		height: max-content;
		max-width: 690px;
		width: 100%;
		background: #FFFFFF;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		margin-left: auto;
		padding: 42px 52px 52px;
		&-title {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			line-height: 56px;
			text-align: center;
			letter-spacing: -1.6px;
			color: #3B45FF;
		}
		&-data {
			margin-top: 32px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 24px;
			grid-row-gap: 25px;
			margin-bottom: 25px;
		}
		&-label {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 18px;
			display: flex;
			align-items: center;
			color: #333333;
			margin-bottom: 8px;
			span {
				color: #BF0000;
			}
		}
		&-input-wrap {
			input {
				height: 48px;
				border: 1px solid rgba(196, 196, 196, 0.44);
				border-radius: 15px;
				width: 100%;
			}
			textarea {
				height: 104px;
				border: 1px solid rgba(196, 196, 196, 0.44);
				border-radius: 15px;
				width: 100%;
			}
		}
		&-button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px 32px;
			width: 145px;
			height: 59px;
			background: #3B45FF;
			border-radius: 15px;
			font-family: 'DM Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			margin-top: 25px;
		}
		&-text {
			margin-top: 64px;
			font-family: 'DM Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 24px;
			color: #333333;
			max-width: 560px;
			a {
				color: #4000A1;
			}
		}
	}
	&__developers {
		margin-top: 150px;
		display: flex;
		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
		img {
			margin-right: 16px;
		}
	}
}

@media screen and (max-width: 767px) {
	.requestademo {
	}
}
